.markdown-body details {
    margin: 1em 0;
    border-radius: 8px;
    border: 1px solid var(--vscode-textSeparator-foreground);
    overflow: hidden;
}

.markdown-body details > summary {
    padding: 0.6em 0.8em;
    cursor: pointer;
    font-weight: 600;
}

.markdown-body details[open] > summary {
    border-bottom: 1px solid var(--vscode-textSeparator-foreground);
}

.markdown-body details[open] > :not(summary) {
    margin-left: 1em;
    margin-right: 1em;
}